<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/normalize.css">
</head>
<body>
    <%- include('header.ejs')%>
    <div class="grey-bg">
        <div class="detail-bg">
            <a href="/edit/<%= 상세페이지._id%>">✏️</a>
            <h4 style="display: none;"><%=상세페이지._id%></h4>
            <h4><%=상세페이지.title%></h4>
            <p><%=상세페이지.content%></p>
            <hr style="margin-top: 60px">
        <div>
            <br>
        <p><strong>작성자</strong> 댓글내용</p>
            <br>
        </div>
        <form action="/comment" method="POST">
          <input name="content">
          <input name="parentId" value="<%= 상세페이지._id %>" style="display: none">
          <button type="submit">댓글작성</button>
        </form>
        <br>
  
        </div> 
    </div>
</body>
</html>